@import "responsive";
@import "config";



$mainColor: #8f2626;
$secondColor: #3a3838;
$thirdColor: #360e0e;
$blackColor: #000000;
$whiteColor: #ece4e4;

.container {
  display: grid;
  grid-template-areas: "left right";
  grid-template-rows: 1fr;

  //grid-gap: 0.2rem;
  height: 98vh;
}

.left {
  display: grid;
  grid-template-areas:
    "bg"
    "navelements"

  ;
  grid-template-rows: 1fr 1fr;
  background-image: linear-gradient(to right, $thirdColor, $mainColor);
  height: 100vh;
  overflow: hidden;
  grid-area: left;

  & .bg {
    // border: 1px solid white;
    // height: 22vh;
    align-items: center;
    display: grid;
    grid-template-areas:
      "name"
      "title";

    & h2 {
      font-family: "Pragati Narrow", sans-serif;
      color: aliceblue;
      font-size: 1rem;
      text-align: center;
    }

    & .name {
      display: grid;
      place-items: center;
    }
  }

  & .title {
    // border: 1px solid white;
    // height: 22vh;
    align-items: center;
    display: grid;

    & h2 {
      font-family: "Pragati Narrow", sans-serif;
      color: aliceblue;
      font-size: 3rem;
      text-align: center;
      margin-top: 0px;
    }
  }

  & .navelements {
    //  height: 54vh;
    display: grid;
    grid-template-areas:
      "navabout navskills"
      "navcontact navprojects";

    grid-gap: 1rem;
    // border: 1px solid white;
    // align-items: center;
    padding: 1rem;

    & div {
      // border: 0.5px solid aliceblue;
      text-align: center;

      & h2 {
        text-align: center;
        padding: 1rem;
        border: 0.5px solid aliceblue;
        transition: all 0.5s ease-out;

        &:hover {
          background-color: #000;
        }

        a {
          font-family: "Pragati Narrow", sans-serif;
          color: aliceblue;
          font-size: 3rem;
          text-align: center;
          padding: 2rem;
          text-decoration: none;

          // border: 0.5px solid aliceblue;
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
  }

  & p {
    color: #fff;

    margin: 0.1rem;
  }
}

.bg {
  grid-area: bg;
}

.navelements {
  grid-area: navelements;
}


.navabout {
  grid-area: navabout;
}

.navprojects {
  grid-area: navprojects;
}

.navskills {
  grid-area: navskills;
}

.navcontact {
  grid-area: navcontact;
}

.about,
.contact,
.skills {
  height: 95vh;
}

.right {
  background-image: linear-gradient(to right, $secondColor, $blackColor);
  // height: 98vh;
  display: grid;
  color: $whiteColor;
  overflow: scroll;
  grid-area: right;

  & .about,
  .skills,
  .projects,
  .contact {
    display: grid;
    text-align: center;

    & h3 {
      font-family: "Pragati Narrow", sans-serif;
      font-size: 4rem;
      margin: 2rem;
      text-transform: uppercase;

      & span {
        color: $mainColor;
      }
    }

    & h2 {
      font-size: 2rem;
    }
  }

  & p {
    font-size: 2rem;
    line-height: 1.6;
    text-align: left;
    margin: 0.7rem;
    font-family: "Open Sans Condensed", sans-serif;
  }
}

.links {
  display: grid;
  //align-items: center;
  grid-gap: 1rem;
  align-content: center;

  grid-template-areas:
    "resume phone"
    "email linkedin"
    "copy copy";

  & a {
    font-size: 1.5rem;
    text-decoration: none;
    color: $whiteColor;

    & i {
      padding: 0.3rem;
      display: block;
    }
  }

  & p {
    text-align: center;
    margin: 0px;
    font-size: 1rem;
  }
}

.techs {
  display: grid;
  grid-template-areas:
    "html css js db"
    "java angular aws git"
    "bootstrap sass npm terminal";
  grid-gap: 1rem;

  & h6 {
    margin-top: 0.5rem;
  }
}

.tech-html {
  grid-area: html;
  text-align: center;
}

.tech-css {
  grid-area: css;
  text-align: center;
}

.tech-java {
  grid-area: java;
  text-align: center;
}

.tech-db {
  grid-area: db;
  text-align: center;
}

.tech-aws {
  grid-area: aws;
  text-align: center;
}

.tech-bootstrap {
  grid-area: bootstrap;
  text-align: center;
}

.tech-js {
  grid-area: js;
  text-align: center;
}

.tech-sass {
  grid-area: sass;
  text-align: center;
}

.tech-npm {
  grid-area: npm;
  text-align: center;
}

.tech-terminal {
  grid-area: terminal;
  text-align: center;
}

.tech-git {
  grid-area: git;
  text-align: center;
}

.tech-angular {
  grid-area: angular;
  text-align: center;
}

.resume {
  grid-area: resume;
}

.phone {
  grid-area: phone;
}

.email {
  grid-area: email;
}

.linkedin {
  grid-area: linkedin;
}

.copy {
  grid-area: copy;
}

.projects-list {
  display: grid;
  grid-template-areas:
    "blog"
    "inventory"
    "cookie"
    "weather"
    "hospital"
    "quote"
    "google"
    "typing"
    "esl"
    "todo"
    "country";

  & .link {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & a {
      text-decoration: none;
      color: $mainColor;
    }
  }
}

.blog {
  grid-area: blog;
}

.inventory {
  grid-area: inventory;
}

.cookie {
  grid-area: cookie;
}

.weather {
  grid-area: weather;
}

.quote {
  grid-area: quote;
}

.google {
  grid-area: google;
}

.typing {
  grid-area: typing;
}

.hospital {
  grid-area: hospital;
}

.register {
  grid-area: register;
}

.todo {
  grid-area: todo;
}

.country {
  grid-area: country;
}

.name {
  grid-area: name;
}

.title {
  grid-area: title;
}

.dalypic {
  width: 200px;
  height: 300px;

}










// small screens











@include mediaSmall {

  html {
    font-size: 16px;
  }



  .container {
    display: grid;
    grid-template-areas:
      "left"
      "right";
    grid-template-rows: 1fr;

    //grid-gap: 0.2rem;
    height: 98vh;
  }

  .dalypic {
    width: 50px;
    height: 75px;
  }

  .left {
    display: grid;
    grid-template-areas:
      "bg"
      "navelements"

    ;
    grid-template-rows: 1fr 1fr;
    background-image: linear-gradient(to right, $thirdColor, $mainColor);
    height: 30vh;
    overflow: hidden;
    grid-area: left;

    & .bg {
      // border: 1px solid white;
      // height: 22vh;
      align-items: center;
      display: grid;
      grid-template-areas:
        "name"
        "title";

      & h2 {
        font-family: "Pragati Narrow", sans-serif;
        color: aliceblue;
        font-size: 1rem;
        text-align: center;
      }
    }

    & .title {
      // border: 1px solid white;
      // height: 22vh;
      align-items: center;
      display: grid;

      & h2 {
        font-family: "Pragati Narrow", sans-serif;
        color: aliceblue;
        font-size: 0.7rem;
        text-align: center;
        margin-top: 0px;
      }
    }

    & .navelements {
      //  height: 54vh;
      display: grid;
      grid-template-areas:
        "navabout navskills"
        "navcontact navprojects";

      grid-gap: 0.3rem;
      // border: 1px solid white;
      // align-items: center;
      padding: 0.5rem;

      & div {
        // border: 0.5px solid aliceblue;
        text-align: center;

        & h2 {
          text-align: center;
          padding: 0.5rem;
          border: 0.5px solid aliceblue;
          // transition: all 0.5s ease-out;

          /*    &:hover {
            background-color: #000;
          }
*/
          a {
            font-family: "Pragati Narrow", sans-serif;
            color: aliceblue;
            font-size: 1.2rem;
            text-align: center;
            padding: 1rem;
            text-decoration: none;


            /*&:hover {
              color: $mainColor;
            }*/
          }
        }
      }
    }

    & p {
      color: #fff;

      margin: 0.1rem;
    }
  }

  .bg {
    grid-area: bg;
  }

  .navelements {
    grid-area: navelements;
  }


  .navabout {
    grid-area: navabout;
  }

  .navprojects {
    grid-area: navprojects;
  }

  .navskills {
    grid-area: navskills;
  }

  .navcontact {
    grid-area: navcontact;
  }

  .about,
  .contact,
  .skills {
    height: 100vh;
  }

  .right {
    background-image: linear-gradient(to right, $secondColor, $blackColor);
    // height: 98vh;
    display: grid;
    color: $whiteColor;
    overflow: scroll;
    grid-area: right;

    & .about,
    .skills,
    .projects,
    .contact {
      display: grid;
      text-align: center;

      & h3 {
        font-family: "Pragati Narrow", sans-serif;
        font-size: 1rem;
        margin: 1rem;
        text-transform: uppercase;

        & span {
          color: $mainColor;
        }
      }

      & h2 {
        font-size: 1rem;
      }
    }

    & p {
      font-size: 1.3rem;
      // line-height: 1.6;
      text-align: left;
      margin: 0.3rem;
      font-family: "Open Sans Condensed", sans-serif;
    }
  }

  .links {
    display: grid;
    //align-items: center;
    grid-gap: 0.4rem;
    align-content: center;

    grid-template-areas:
      "resume"
      " phone"
      "email"
      "linkedin"
      "copy";

    & a {
      font-size: 1rem;
      text-decoration: none;
      color: $whiteColor;

      & i {
        padding: 0.3rem;
        display: block;
      }
    }

    & p {
      text-align: center;
      margin: 0px;
      font-size: 1rem;
    }
  }

  .techs {
    display: grid;

    grid-template-areas:
      "html css js"
      "java angular aws"
      "bootstrap db git"
      "sass npm terminal";
    grid-gap: 0.1rem;

    & h6 {
      margin-top: 0.5rem;
    }

    & i {
      font-size: 2rem;
    }
  }

  .tech-html {
    grid-area: html;
    text-align: center;
  }

  .tech-css {
    grid-area: css;
    text-align: center;
  }

  .tech-java {
    grid-area: java;
    text-align: center;
  }

  .tech-db {
    grid-area: db;
    text-align: center;
  }

  .tech-aws {
    grid-area: aws;
    text-align: center;
  }

  .tech-bootstrap {
    grid-area: bootstrap;
    text-align: center;
  }

  .tech-js {
    grid-area: js;
    text-align: center;
  }

  .tech-sass {
    grid-area: sass;
    text-align: center;
  }

  .tech-npm {
    grid-area: npm;
    text-align: center;
  }

  .tech-terminal {
    grid-area: terminal;
    text-align: center;
  }

  .tech-git {
    grid-area: git;
    text-align: center;
  }

  .tech-angular {
    grid-area: angular;
    text-align: center;
  }

  .resume {
    grid-area: resume;
  }

  .phone {
    grid-area: phone;
  }

  .email {
    grid-area: email;
  }

  .linkedin {
    grid-area: linkedin;
  }

  .copy {
    grid-area: copy;
  }

  .projects-list {
    display: grid;
    grid-template-areas:
      "typing"
      "weather"
      "quote"
      "hospital"
      "register"
      "todo"
      "country";

    & .link {
      display: grid;
      grid-template-columns: 1fr 1fr;

      & a {
        text-decoration: none;
        color: $mainColor;
      }
    }
  }

  .weather {
    grid-area: weather;
  }

  .quote {
    grid-area: quote;
  }

  .typing {
    grid-area: typing;
  }

  .hospital {
    grid-area: hospital;
  }

  .register {
    grid-area: register;
  }

  .todo {
    grid-area: todo;
  }

  .country {
    grid-area: country;
  }

  .name {
    grid-area: name;
  }

  .title {
    grid-area: title;
  }



}